@page "/listadoTareas"

<h3>Listadodetareas</h3>
@using BlazorApp2.Data
@inject ListadoTareasService Tarea

<h1>Es una prueba</h1>

<p>This component demonstrates fetching data from a service.</p>
@if (Resultados == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>idTarea</th>
            <th>Titulo (C)</th>
            <th>Vencimiento (F)</th>
            <th>Estimacion</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Resultado in Resultados)
        {
            <tr>
                <td>@Resultado.idTarea</td>
                <td>@Resultado.Titulo</td>
                <td>@Resultado.Vencimiento</td>
                <td>@Resultado.Estimacion</td>
                <td>@Resultado.Estado</td>
            </tr>
        }
    </tbody>
</table>
}
@code {
    private ListadoT[] Resultados;

    protected override async Task OnInitializedAsync()
    {
        Resultados =   Tarea.GetListadoT();
    }
}